{% extends "base.html" %}

{% block content %}
    <div class="card mt-5 w-50 text-center mx-auto">
        <div class="card-header">
            <h3>{{ object.title }}</h3>
        </div>
        <div class="card-body">
            <h5 class="card-title">Tag: {{ object.tag }}</h5>
            <p class="card-text"><a href="{{ object.link }}" target="_blank"><i class="fas fa-link"></i></a></p>
            <p class="card-text"><small class="text-muted">Eklenme Tarihi: {{ object.added|date:"Y-m-d H:i" }}</small></p>
        </div>
        <div class="card-footer">
            <div class="row">
                <a href="{{ object.list }}" class="btn btn-primary mt-4 mx-auto w-25"><i class="fa-solid fa-arrow-left"></i></a>
                <a href="{{ object.edit }}" class="btn btn-info mt-4 mx-auto w-25"><i class="fa-solid fa-pencil"></i></a>
                <a href="{{ object.remove }}" class="btn btn-danger mt-4 mx-auto w-25"><i class="fa-solid fa-trash-can"></i></a>
            </div>
        </div>
    </div>
{% endblock content %}